      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Tutorials</li>
          <li><a href="/smart-docs-testing/howto/build_a_smart_app">Build a SMART App</a></li>
          <li><a href="/smart-docs-testing/howto/build_a_rest_app">Build a SMART REST App</a></li>
           <li><a href="/smart-docs-testing/howto/background_and_helper_apps">Background + Helper Apps</a></li>
    	<li><a href="/smart-docs-testing/howto/howto_build_smart_frame_ui_apps">Frame UI Apps</a></li>
          <li><a href="/smart-docs-testing/howto/got_statins">Got Statins? App</a></li>
          <li><a href="/smart-docs-testing/howto/rx_reminder">RxReminder App</a></li>
          <li class="divider"></li>
          <li class="nav-header">Data Mode + Querying</li>
          <li><a href="/smart-docs-testing/datamode/intro_to_pdf">Intro to RDF and SPARQL</a></li>
          <li><a href="/smart-docs-testing/datamode/sparql_examples">SPARQL Examples for SMART</a></li>
          <li><a href="/smart-docs-testing/datamode/smart_data">SMART Data: Best Practices</a></li>
          <li><a href="/smart-docs-testing/datamode/deferred">$.Deferred for Parallel Queries</a></li>
          <li class="divider"></li>
          <li class="nav-header">Reference</li>
          <li><a href="/smart-docs-testing/reference/data_model">Data Model</a></li>
          <li><a href="#">REST API</a></li>
          <li><a href="#">App Manifest</a></li>
          <li><a href="#">Changelog</a></li>
          <li class="divider"></li>
          <li class="nav-header">Client Libraries</li>
          <li><a href="#">Javascript (SMART Connect)</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">.NET</a></li>
          <li><a href="#">Conatiner-side Javascript</a></li>
        </ul>
      </div> <!-- /well -->
