      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Tutorials</li>
          <li><a href="{{BASE_PATH}}/howto/build_a_smart_app">Build a SMART App</a></li>
          <li><a href="{{BASE_PATH}}/howto/build_a_rest_app">Build a SMART REST App</a></li>
           <li><a href="{{BASE_PATH}}/howto/background_and_helper_apps">Background + Helper Apps</a></li>
    	<li><a href="{{BASE_PATH}}/howto/howto_build_smart_frame_ui_apps">Frame UI Apps</a></li>
          <li><a href="{{BASE_PATH}}/howto/got_statins">Got Statins? App</a></li>
          <li><a href="{{BASE_PATH}}/howto/rx_reminder">RxReminder App</a></li>
          <li class="divider"></li>
          <li class="nav-header">Data Model + Querying</li>
          <li><a href="{{BASE_PATH}}/datamodel/intro_to_rdf">Intro to RDF and SPARQL</a></li>
          <li><a href="{{BASE_PATH}}/datamodel/sparql_examples">SPARQL Examples for SMART</a></li>
          <li><a href="{{BASE_PATH}}/datamodel/smart_data">SMART Data: Best Practices</a></li>
          <li><a href="{{BASE_PATH}}/datamodel/deferred">$.Deferred for Parallel Queries</a></li>
          <li class="divider"></li>
          <li class="nav-header">Reference</li>
          <li><a href="{{BASE_PATH}}/reference/data_model">Data Model</a></li>
          <li><a href="{{BASE_PATH}}/reference/rest_api">REST API</a></li>
          <li><a href="{{BASE_PATH}}/reference/app_mainfest">App Manifest</a></li>
          <li><a href="{{BASE_PATH}}/reference/change_log">Changelog</a></li>
          <li class="divider"></li>
          <li class="nav-header">Client Libraries</li>
          <li><a href="{{BASE_PATH}}/libraries/javascript">Javascript (SMART Connect)</a></li>
          <li><a href="{{BASE_PATH}}/libraries/python">Python</a></li>
          <li><a href="{{BASE_PATH}}/libraries/java">Java</a></li>
          <li><a href="{{BASE_PATH}}/libraries/dotnet">.NET</a></li>
          <li><a href="{{BASE_PATH}}/libraries/container_javascript">Conatiner-side Javascript</a></li>
          <li class="nav-header">Presentation (2010-08-26)</li>
          <li><a href="http://www.slideshare.net/jmandel/2010-0826smartarchitecture">Architecture</a></li>
          <li><a href="http://www.slideshare.net/jmandel/2010-08-26-smart-governance">Governance</a></li>
          <li><a href="http://media.smartplatforms.org/smart-screencast.mp4">Demo</a></li>         
        </ul>
      </div> <!-- /well -->
